antlr4-python3-runtime==4.9.3
appdirs==1.4.4
arrow==1.3.0
asgiref==3.7.2
attrs==23.1.0
cattrs==23.1.2
certifi==2023.7.22
charset-normalizer==3.3.1
colorama==0.4.6
cpe==1.2.1
Django==4.2.6
djangorestframework==3.14.0
Faker==19.12.0
fqdn==1.5.1
idna==3.4
isoduration==20.11.0
jsonpointer==2.4
jsonschema==4.17.3
platformdirs==3.11.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyrsistent==0.20.0
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
requests-cache==1.1.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
simplejson==3.19.2
six==1.16.0
sqlparse==0.4.4
stix2-patterns==2.0.0
stix2-validator==3.1.4
types-python-dateutil==2.8.19.14
tzdata==2023.3
uri-template==1.3.0
url-normalize==1.4.3
urllib3==2.0.7
webcolors==1.13
